div.box {
  border:solid;
  border-color: black;
  border-width: 0;
  border-top-width: .05in;
  border-left-width: .05in;
  border-radius: 0.2in;
  padding: 0;
}

.two-columns ul{
  columns: 2;
}
h1.boxlabel {
  margin: 0;
  margin-left: 0.05in;
  font-family: copperplate;
}
p {
  margin-left: 0.15in;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
  margin: 0.15in;
  margin-left: 0;
  font-size: large;
}
